<!-- <app-diretiva-ngif></app-diretiva-ngif> -->

<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->

<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->

<!-- <app-direetiva-ngclass></app-direetiva-ngclass> -->

<!-- <app-direetiva-ngstyle></app-direetiva-ngstyle> -->

<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-exemplo-ng-content>
	<h1 class="titulo">conteudo variável</h1> 
	<app-operador-elvis class="corpo"></app-operador-elvis>
	<div class="corpo">Contudo 2</div>
</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>